@import "sidebar";
@import "main-page";
@import "modal";
@import "tile";
@import "department";

.btn-wrapper{
  text-align: center;
}
.rightArrow{
  background: none;
  border: none;
}

.leftArrow{
  background: none;
  border: none;
}

.linkButton{
  background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.form-control {
  border-radius: 7px;
}
.dropdown-custom{
  float: right;
}
.btn-add-custom{
  float: left;
}
.label-custom{
  float:right;
}
.dropdown-custom-left{
  float: left;
}
.dropdown-custom-right{
  float: right;
}
.label-center{
  text-align: center !important;
}
h2{
  text-align: center;
}

.table-custom{
  width:100%;
  white-space: nowrap;
}
.table-custom td{
  padding: 0 5px;
}

.search-custom{
  float: left;
}

.exit-details{
  background: none;
  border: none;
  float: right;
}

.fullWidth{
  width: 100%;

}
.controls{
  padding-top: 5px;
}

.table-details{
  margin-bottom: 90px !important;
  margin-top: 90px !important;
}

.table-details th{
  text-align: center !important;
  background: lightblue !important;
}
.table-details td {
  text-align: center !important;
}

.title-position{
  text-align: center;
  padding-bottom: 20px;
}

.red{
  color: red
}

.darkred{
  color: darkred
}