.info-box-tile{
  border: solid 2px #f9fafc ;
  border-radius: 5px;
  box-shadow: 2px 4px 5px lightgray;
}

.btn-addOffice{
  margin-bottom: 15px;
}

.info-box-icon > img {
  margin-bottom: 10px;
}