.main-sidebar{
  position: fixed;
}
thead{
  background-color: rgba(91, 185, 247, 0.43);
}
.form-control{
  width: 440px;
}
.content{
  position: relative;
  background-color: white !important;
}
.office-sidebar-tile{
  text-transform: uppercase;
}
.info-box-custom{
  box-shadow: 3px 3px 7px #888888;;
  border-radius: 6px;
}

.small-icon{
  width: 100px;
  height: 102px;
  vertical-align: top;
  //border-radius: 10px 0px 0px 10px;
}

.glyphicon{
  margin-right: 5px;
}

.rectangle{
    height: 36px;
    width: 36px;
    overflow: hidden;
    display: block;
    border-radius: 100px;
    transition: All 0.5s ease;
    line-height: 36px;
  margin-bottom: 15px;
}

.info-box-custom{
  overflow:hidden;
  
}
.rectangle:hover{
  width: 165px;
  background-color: #5bb9f7;
}


.custom-edit-icon{
  float: right;
  font-size: 25px;
  color: #5bb9f7;

}





.table-tr:hover{
  background-color: rgba(91, 185, 247, 0.14);
}


.header-evozon-image{
  width: 65px;

}
.custom-edit-icon:hover {
  color: #1269d3;;
}

.sidebar-menu{
  margin-top: 20px;
}

.header{
  text-align: center;
  font-size: 30px;
  font-style: inherit;
}
.custom-add-icon{
  font-size: 36px;
  color: #3fc3f2;
  margin-bottom: 10px;
  clear: both;
}
.custom-add-icon:hover{
  color: #4fdb45;
}
.custom-add-icon span{
  text-align: left;
}


.add-span{
  vertical-align: top;
  color: white;
  border-radius: 38px;
  display: inline;
  width: 360px;
  line-height: 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-space: -20px;
  font-size: 25px;
}

.main-header-custom{
  background-color: #3fc3f2 !important;
}

li:hover{
  border-left: 3px solid #3fc3f2;
  background-color: #3fc3f2 !important;
}

.EvozonImage{
  width: 230px;
}
.col-md-4-custom{
  width:575px;
}
.fade-hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


//.logo{
//  color: white;
//}
//.navbar-custom{
//  background-color: #3fc3f2;
//  color: white;
//}
