.main-sidebar{
  position: fixed;
}

.info-box-custom{

}

.custom-edit-icon{
  float: right;
  font-size: 25px;
  color: #5bb9f7;

}

.header-evozon-image{
  width: 65px;

}
.custom-edit-icon:hover {
  color: #1d70ff;;
}
.sidebar-menu{
  margin-top: 20px;
}

.header{
  text-align: center;
  font-size: 30px;
  font-style: inherit;
}

.custom-add-icon{
  font-size: 36px;
  color: #54dd4b;
  //transition: width 2s;

  clear: both;
}

.add-span{
  display: none;
  word-spacing: -20px;
  font-size: 30px;
  //transition: width 1s;
}

.custom-add-icon .add-span{

  max-width: 0px;
  //overflow: hidden;
  //transition: 1s linear;
}
.custom-add-icon:hover{
  color: #5bb9f7;
}
.add-span{
  border-radius: 38px;
  display: inline;
  max-width: 110px;
}


.main-header-custom{
  background-color: #3fc3f2 !important;
}

li:hover{
  border-left: 3px solid #5bb9f7;
  background-color: #5bb9f7 !important;
}

.EvozonImage{
  width: 230px;
}
.col-md-4-custom{
  width:575px;
}
